.disabled a {
    pointer-events: none;
}

[class*=rw-slideshow] {
    font-size: 1.25em;
    position: relative;
}

[class*=rw-slideshow] img {
    position: absolute;
}

.rw-abs {
    background-color: rgba(0, 0, 0, 0.75);
    margin: 1.25em;
    max-width: 50%;
    padding: 1.25em;
    position: absolute;
}

.rw-abs.top {
    top: 0;
}

.rw-abs.right {
    right: 0;
}

.rw-abs.bottom {
    bottom: 0;
}

.rw-abs.left {
    left: 0;
}

.rw-abs.center {
    margin-left: 25%;
    width: 50%;
}