.ui-slideshow-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-slideshow-wrapper {
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

.ui-slideshow {
    height: 100%;
    position: relative;
}

.ui-slideshow .ui-slide {
    float: left;
    height: 100%;
    position: relative;
}

.ui-slideshow img {
    max-width: 100%;
}

.ui-slideshow-wrapper .ui-controls {
    bottom: 0;
    position: absolute;
    text-align: center;
}

.ui-slideshow-wrapper .ui-control {
    cursor: pointer;
}

.ui-slideshow-wrapper .ui-control.default {
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid #fff;
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    margin: 5px;
    transition: 0.3s all;
    width: 10px;
}

.ui-slideshow-wrapper .ui-control.default.active {
    background-color: #fff;
}